* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.App {
  position: relative; }

.card {
  padding: 1rem 1.5rem;
  margin-bottom: 0.5rem;
  background-color: lightcyan;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.8);
  width: 80%; }
  .card__header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 1rem; }
  .card__header--avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    height: 3rem;
    width: 3rem;
    background-color: green;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0.4rem #000; }
  .card__header--author {
    font-size: 1.5rem;
    margin-right: 1rem; }
  .card__body {
    text-align: right;
    padding: 0 1rem; }

.form {
  padding: 0.2rem;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .form__author {
    display: block;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem; }
  .form__input {
    display: inline-block;
    width: 90%;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0.2rem 0.4rem;
    font-size: 1rem; }
  .form__send {
    margin-left: 0.2rem;
    width: 10%;
    background-color: yellow;
    border: none;
    outline: none; }
  .form__send-box {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row; }

.container {
  background-image: url("./assets/img/wallpaper.jpg");
  background-size: contain;
  background-position: center;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem; }

.welcome {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem; }
